<div class="jumbotron ">
    <div class="container text-center">

        <label>CAMPEONATO DE FILMES</label>
        <h1>Fase de Seleção</h1>

        <hr style="max-width: 200px;">
        <h5>Selecione 8 filmes que você deseja que entrem na competição e depois pressione o botão Gerar meu Campeonato
            para prosseguir</h5>
    </div>

    <div class="container">
        <div class="row align-items-center justify-content-between mb-3">
            <div class="col-md-2">
                Selecionado
                <br>
                {{checkedItems}} de 8 filmes
            </div>
            <div class="col-md-4 text-right">
                <button type="button" mdbBtn color='primary' mdbWavesEffect (click)="onGerarCampeonatoClick($event)">Gerar Meu Campeonato</button>
            </div>
        </div>
        <div *ngFor="let cols of rows">
            <div class="row mt-2">
                <div *ngFor="let filme of cols" class="col-md-3">
                    <app-filme [filme]="filme" (onChecked)="onChecked($event)" [checkedItems]="checkedItems" ></app-filme>
                </div>
            </div>
        </div>

    </div>
</div>