<mdb-card>
    <mdb-card-body>
        <div class="row align-items-center">
            <div class="col-md-2">
                <input type="checkbox" [disabled]="isDisabled" [checked]="filme.checked" (change)="onCheck($event)" (click)="onClick($event)">
            </div>
            <div class="col-md-10">
                <div class="row titulo">
                    {{filme.titulo}}
                </div>
                <div class="row font-legend">
                    {{filme.ano}}
                </div>
            </div>
        </div>
    </mdb-card-body>
</mdb-card>